body{
    background: #555555;
    color: white;
    font-size: 23px;
    
}
h1{
    font-size: 70px;
    color: #fafafa;
    margin-left: 50px;
}

/*---this is the css box modal*/
/*---margin-----*/

/*-----border----*/

/*-----padding-----*/
.box{
    background-image: url(/assets/css/images/salmon-1238248_1920.jpg);
    background-size: contain;
    width: 200px;
    margin: 40px;
    border-width: 5px;
    border-color: rgb(243, 146, 9);
    border-style: solid;
    padding: 20px;
}

.box-two{
    background-image: url(/assets/css/images/pineapple-636562_1920.jpg);
    background-size: auto;
    width: 200px;
    margin: 40px;
    border-width: 5px;
    border-color: rgb(243, 146, 9);
    border-style: solid;
    padding: 150px; 
    color: black;
    font-size: 25px;
    font-weight: bold;

}