body{
    background-color:  #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header{
    background-color: #777;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container
{
   width: 80%;
   margin: 0 auto; 
}

section
{
    float: left;
    width: 70%;
    margin-bottom: 100px;
    
}

section h1{
    color: #fff;
    font-size: 40px;
}

section p{
    font-size: 30px;
}

aside{
    float: right;
    width: 25%;
    margin: 15px 0 0 30px;
}

aside h1
{
    font-size: 40px;
    color: #fff;
    
}

aside li{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

footer
{
    background-color: black;
    color: #fff;
    clear: both;
    padding: 50px 0;
    text-align: center;



}